PORT=3002

RUN_DNS=true
RUN_DNS_SCHEDULE=false
RUN_ABSEN=false
CHECK_ABSEN=false

wanIPv4Site="https://ipv4.icanhazip.com"
cfKey="4775db5ba5ca06ae0120ed238e749ac04b07d"
email="t.wahyu96@gmail.com"
zoneName="agrivan.space"
recordType="A"
recordName="absen.agrivan.space"

ADJUST_TIME=7
S_DATANG=04:00:00
E_DATANG=08:00:00
S_PULANG=12:00:00
E_PULANG=21:00:00

DATABASE_URL='mysql://9cubah6up9j7pgij6sgf:pscale_pw_3sB88NWv7zXYne7nRmm8NsNSkYgjrm52rAiFO8cy8zs@aws.connect.psdb.cloud/absen?sslaccept=strict'
URL_PING_MONITOR = 'https://cronhub.io/ping/e1306af0-23cd-11ed-9c9d-a52cfa2f7b57'

LAST_RUN=1686900926352